<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Recommandation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */

    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */

    .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */

    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Movies</h1>
      <p>Movie Recommandation Website</p>

      <form method="post" action="/">
        <input placeholder="Search Movie" type="text" id="txtMovie" name="searchMovie">
        <input type="submit" value="Submit">
      </form>
      <br>

      <form method="post" action="/description/">
        <input placeholder="Description" type="text" id="txtDescription" name="descriptionMovie">
        <input type="submit" value="Submit">
      </form>
      <br>

      <form method="post" action="/person/">
        <input placeholder="Person Description" type="text" id="txtDescriptionPerson" name="searchPerson">
        <input type="submit" id="submitbtn" value="Submit">
      </form>

    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/user">
              <span class="glyphicon glyphicon-user"></span> Profile </a>
          </li>
          <li>
            <a href="/visualization">
              <span class="glyphicon glyphicon"></span> Graph</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Movie List</div>
          <div class="panel-body">
            <table class="table table-hover">
              <tr>
                <%= movieTT %>
                  <th>Name</td>
                    <th>Job</th>
                    <th>Role</td>
                      <th>Born</th>
              </tr>


              <tr>
                <% movieDescription.forEach(function(description){ %>
                  <td onclick="clickFunction('<%= description.name %>')">
                    <%= description.name %>
                  </td>
                  <td>
                    <%= description.job %>
                  </td>
                  <td>
                    <%= description.role %>
                  </td>
                  <td>
                    <%= description.born %>
                  </td>
              </tr>
              <% }) %>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <footer class="container-fluid text-center">
    <p>MOSA</p>
  </footer>

  <script>
    function clickFunction(x) {
      document.getElementById("txtDescriptionPerson").value = x;
      document.getElementById("submitbtn").click();
    }

  </script>
</body>

</html>